<h1>Listing event_interests</h1>

<table>
  <tr>
    <th>Event</th>
    <th>Interest</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @event_interests.each do |event_interest| %>
  <tr>
    <td><%= event_interest.event_id %></td>
    <td><%= event_interest.interest_id %></td>
    <td><%= link_to 'Show', event_interest %></td>
    <td><%= link_to 'Edit', edit_event_interest_path(event_interest) %></td>
    <td><%= link_to 'Destroy', event_interest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event interest', new_event_interest_path %>
